streamlit==0.88.0
spacy==3.1.2
spacy #>=2.2.0,<3.0.0
#https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz#egg=en_core_web_sm
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.1.0/en_core_web_sm-3.1.0-py3-none-any.whl
#spacy-legacy
pydantic
typing_extensions==3.10


click==7.1.2
protobuf==3.16.0
nltk==3.6.2
altair==4.10
