streamlit==1.23.0
# altair==4.2.2
# backports-zoneinfo==0.2.1
# commonmark==0.9.1
# entrypoints==0.4
# importlib-metadata==6.11.0
# packaging==23.2
# pillow==9.5.0
# pympler==1.0.1
# pytz-deprecation-shim==0.1.0.post0
# rich==12.0.1
# typing-extensions==4.5.0
# tzlocal==4.3.1
# validators==0.28.1
# click==7.1.2
# protobuf==3.20.3
# pydantic==1.8.2

### https://discuss.streamlit.io/t/how-to-include-en-core-web-sm-2-2-0-in-deployment/37673
spacy==3.5.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl


#spacy==3.1.2
#en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0-py3-none-any.whl
# typing_extensions==3.10
nltk==3.6.2
#https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.1.0/en_core_web_sm-3.1.0-py3-none-any.whl


#spacy-legacy
#https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz#egg=en_core_web_sm
#

